@using AdminWeb.Helper.Extensions
@using BLL.DTOs
@using BLL.DTOs.Enum
@{
    ViewData["Title"] = "Chỉnh sửa giáo viên";
    Layout = "~/Views/Shared/_LayoutProject.cshtml";
}

@section Styles {
    <link href="~/plugins/table/datatable/datatables.css" rel="stylesheet" />
    <link href="~/plugins/table/datatable/extensions/col-reorder/col-reorder.datatables.min.css" rel="stylesheet" />
    <link href="~/plugins/table/datatable/extensions/fixed-columns/fixed-columns.datatables.min.css" rel="stylesheet" />
    <link href="~/css/customs/plugins/light/table/datatable/dt-global_style.css" rel="stylesheet" />
    <link href="~/css/customs/plugins/light/table/datatable/custom_dt_custom.css" rel="stylesheet" />
}

@{
    var teacherReviews = ViewBag.TeacherReviews;
    var teacherAccount = ViewBag.TeacherAccount;
}
<style>
    .edit-area {
        padding: 25px;
    }
    .edit-account {
        padding: 25px;
    }

    .form-control[readonly]:not(.flatpickr-input) {
        color: #64cf64;
    }

</style>

@model Teacher

<div>
    <!-- BREADCRUMB -->
    <div class="page-meta">
        <nav class="breadcrumb-style-one" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Người dùng</a></li>
                <li class="breadcrumb-item" aria-current="page"><a href="@Url.Action("Index", "Teacher")">Quản lý giáo viên</a></li>
                <li class="breadcrumb-item active" aria-current="page">Chỉnh sửa giáo viên</li>
            </ol>
        </nav>
    </div>
    <!-- /BREADCRUMB -->

    <div class="layout-top-spacing col-12">
        <a href="@Url.Action("Index", "Teacher")" class="btn">
            Trở lại
        </a>
    </div>

    <div class="row layout-top-spacing">
        <div id="user-management" class="col-lg-12 layout-spacing">
            <div class="statbox widget box box-shadow">
                <div class="widget-header">
                    <div class="row">
                        <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                            <h4>Chỉnh sửa</h4>
                        </div>
                    </div>
                </div>
                <div class="widget-content widget-content-area edit-area">
                    <div class="col-12">
                        <form asp-action="Edit" method="POST" id="general-settings">

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group mb-4">
                                        <label for="fullname">Tên giáo viên <strong class="text-danger">*</strong></label>
                                        <input asp-for="FullName"
                                               type="text"
                                               id="fullname"
                                               class="form-control @(ViewData.ModelState["FullName"]?.Errors.Count > 0 ? "is-invalid" : "")"
                                               placeholder="Tên giáo viên">
                                        <span asp-validation-for="FullName" class="invalid-feedback" role="alert"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group mb-4">
                                        <label for="experience">Số năm kinh nghiệm <strong class="text-danger">*</strong></label>
                                        <input asp-for="Experience"
                                               type="number"
                                               min="1"
                                               id="experience"
                                               class="form-control @(ViewData.ModelState["Experience"]?.Errors.Count > 0 ? "is-invalid" : "")"
                                               placeholder="Nhập số năm kinh nghiệm">
                                        <span asp-validation-for="Experience" class="invalid-feedback"></span>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="form-group mb-4">
                                    <label for="degree">Bằng cấp <strong class="text-danger">*</strong></label>
                                    <input asp-for="Degree"
                                           type="text"
                                           id="degree"
                                           class="form-control @(ViewData.ModelState["Degree"]?.Errors.Count > 0 ? "is-invalid" : "")"
                                           placeholder="Bằng cấp của giáo viên">
                                    <span asp-validation-for="Degree" class="invalid-feedback" role="alert"></span>
                                </div>
                            </div>


                            <button type="submit" class="btn btn-primary">Hoàn tất</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

@if(teacherAccount != null)
{
    <div>
        <div class="row layout-top-spacing">
            <div id="user-management" class="col-lg-12 layout-spacing">
                <div class="statbox widget box box-shadow">
                    <div class="widget-header">
                        <div class="row">
                            <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                <h4>Chỉnh sửa tài khoản</h4>
                            </div>
                        </div>
                    </div>
                    <div class="widget-content widget-content-area edit-account" >
                        <div class="col-12">
                            <form id="edit-user-form">
                                <input type="hidden" name="Id" value="@teacherAccount.Id" />

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group mb-4">
                                            <label for="Username">Username <strong class="text-danger">*</strong></label>
                                            <input type="text" id="Username" name="Username" value="@teacherAccount.Username" class="form-control" readonly/>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group mb-4">
                                            <label for="PasswordHash">Mật khẩu <strong class="text-danger">*</strong></label>
                                            <input type="text" id="Password" name="PasswordHash" placeholder="Nhập mật khẩu mới (nếu có)" class="form-control" />
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group mb-4">
                                            <label for="email">Email <strong class="text-danger">*</strong></label>
                                            <input type="text" id="Email" name="Email" value="@teacherAccount.Email" class="form-control" readonly/>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group mb-4">
                                            <label for="createdAt">Ngày tạo <strong class="text-danger">*</strong></label>
                                        <input type="text" id="createdAt" name="CreatedAt" value="@teacherAccount.CreatedAt.ToString("dd/MM/yyyy HH:mm")" class="form-control" readonly/>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">

                                    <div class="col-md-6">
                                        <div class="form-group mb-4">
                                            <label for="phone">Số điện thoại <strong class="text-danger">*</strong></label>
                                            <input type="text" id="Phone" name="Phone" value="@teacherAccount.Phone" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group mb-4">
                                            <label for="status">Trạng thái <strong class="text-danger">*</strong></label>
                                        <select name="Status"
                                                class="form-control"
                                                asp-items="Html.GetEnumSelectList<EAccountStatus>()">
                                        </select>

                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <input type="hidden" name="RoleId" value="@teacherAccount.RoleId" />
                                    <div class="col-md-6">
                                        <div class="form-group mb-4">
                                            <label>Quyền truy cập <strong class="text-danger">*</strong></label>
                                            <input type="text"
                                                   class="form-control"
                                                   value="@(((ERoleName)teacherAccount.RoleId).GetDisplayName())"
                                                   readonly />
                                        </div>
                                    </div>
                                </div>


                                <button type="button" id="btnUpdateAccount" class="btn btn-primary">Hoàn tất</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
}
else
{
    <div id="no-account-section">
        <div class="row layout-top-spacing">
            <div id="user-management" class="col-lg-12 layout-spacing">
                <div class="statbox widget box box-shadow">
                    <div class="widget-header">
                        <div class="row">
                            <div class="layout-top-spacing ps-3 pe-3 col-12 mb-3">
                                <span>
                                    Người dùng này chưa có tài khoản đăng nhập, hãy tạo ngay.
                                </span>
                                <br /><br />
                                <button id="btnShowCreateAccount" class="btn btn-primary">
                                    Thêm mới tài khoản
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" id="TeacherId" value="@Model.Id" />

    <div id="create-account-section" style="display:none">
        <div class="row layout-top-spacing">
            <div id="user-management" class="col-lg-12 layout-spacing">
                <div class="statbox widget box box-shadow">
                    <div class="widget-header">
                        <div class="row">
                            <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                <h4>Tạo tài khoản</h4>
                            </div>
                        </div>
                    </div>
                    
                    <div class="widget-content widget-content-area edit-account">
                        <div class="col-12">
                            <form id="create-user-form">

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group mb-4">
                                            <label for="Username">Username <strong class="text-danger">*</strong></label>
                                            <input type="text" id="Username" name="Username" placeholder="Nhập username" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group mb-4">
                                            <label for="PasswordHash">Mật khẩu <strong class="text-danger">*</strong></label>
                                            <input type="text" id="password" name="PasswordHash" placeholder="Nhập mật khẩu" oninput="validatePassword()" class="form-control" />
                                            <span id="password-error" class="text-danger mb-5"></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group mb-4">
                                            <label for="email">Email <strong class="text-danger">*</strong></label>
                                            <input type="text" id="email" name="Email" class="form-control" placeholder="Nhập email" onblur="checkEmailExist()" />
                                            <span id="email-error" class="text-danger mb-5"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group mb-4">
                                            <label for="createdAt">Ngày tạo <strong class="text-danger">*</strong></label>
                                            <input type="text" id="createdAt" name="CreatedAt" value="@DateTime.UtcNow" class="form-control" readonly />
                                        </div>
                                    </div>
                                </div>

                                <div class="row">

                                    <div class="col-md-6">
                                        <div class="form-group mb-4">
                                            <label for="phone">Số điện thoại <strong class="text-danger">*</strong></label>
                                            <input type="text" id="phone-number" name="Phone" placeholder="Nhập số điện thoại" oninput="validatePhoneNumber()" class="form-control" />
                                            <span id="phone-number-error" class="text-danger mb-5"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group mb-4">
                                            <label for="status">Trạng thái <strong class="text-danger">*</strong></label>
                                            <select name="Status"
                                                    class="form-control"
                                                    asp-items="Html.GetEnumSelectList<EAccountStatus>()">
                                            </select>

                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <input type="hidden" name="RoleId" value="@( (int)ERoleName.Teacher )" />
                                    <div class="col-md-6">
                                        <div class="form-group mb-4">
                                            <label for="role">Quyền truy cập <strong class="text-danger">*</strong></label>
                                            <input type="text" class="form-control" value="@ERoleName.Teacher.GetDisplayName()" readonly />

                                        </div>
                                    </div>
                                </div>

                                <div class="d-flex gap-2 mt-3">
                                    <button type="button"
                                            id="btnCreateAccount"
                                            class="btn btn-primary">
                                        Hoàn tất
                                    </button>

                                    <button type="button"
                                            id="btnCancelCreateAccount"
                                            class="btn btn-outline-secondary">
                                        Hủy
                                    </button>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
}

<div>
    <!-- DATATABLE -->
    <div class="row layout-top-spacing">
        <div class="col-xl-12 col-lg-12 col-sm-12">
            <div class="statbox widget box box-shadow">
                <div class="widget-header">
                    <div class="row">
                        <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                            <h4>Quản lý đánh giá giảng viên</h4>
                        </div>
                    </div>
                </div>
                <div class="widget-content widget-content-area">
                    <div class="layout-top-spacing ps-3 pe-3 col-12 mb-3">
                        <a href="@Url.Action("Create", "Teacher")" class="btn btn-primary">Thêm mới</a>
                    </div>
                    <table id="teacher-table" class="table style-3 dt-table-hover" style="width: 100%">
                        <thead>
                            <tr>
                                <th style="width: 5%">STT</th>
                                <th>Mã đánh giá</th>
                                <th>Tên học viên</th>
                                <th>Số sao</th>
                                <th>Thời gian tạo</th>
                                <th class="no-content" style="width: 5%">Đánh giá</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int stt = 1;
                            }
                            @if (teacherReviews != null)
                            {

                                @foreach (var review in teacherReviews)
                                {
                                    <tr>
                                        <td>@stt</td>
                                        <td>@review.Id</td>
                                        <td>@review.StudentName</td>
                                        <td>@review.Rating</td>
                                        <td>@review.CreatedAt.ToString("dd/MM/yyyy | hh:mm:ss tt")</td>

                                        <td class="text-center">
                                            <a href="javascript:void(0)"
                                               class="text-primary view-comment"
                                               data-comment="@review.Comment">
                                                Xem chi tiết
                                            </a>
                                        </td>

                                    </tr>

                                    stt++;
                                }
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- /DATATABLE -->
</div>

<!-- Scripts riêng cho lớp con -->
@section Scripts {
    <script src="~/plugins/table/datatable/datatables.js"></script>
    <script src="~/plugins/table/datatable/extensions/col-reorder/col-reorder.datatables.min.js"></script>
    <script src="~/plugins/table/datatable/extensions/fixed-columns/fixed-columns.datatables.min.js"></script>
    <script src="/js/user/formValidation.js"></script>
    <script src="/js/user/signup.js"></script>
    <script src="/js/teacher/teacher.js"></script>


    <script>
        $(document).ready(function () {
            @if (teacherAccount != null)
            {
                <text>
                    $('select[name="Status"]').val('@((int)teacherAccount.Status)');
                </text>
            }
        });

    </script>

    <script>
        $('#teacher-table').DataTable(
            {
                "dom": "<'dt--top-section'<'row'<'col-12 col-sm-6 d-flex justify-content-sm-start justify-content-center'l><'col-12 col-sm-6 d-flex justify-content-sm-end justify-content-center mt-sm-0 mt-3'f>>>"
                    + "<'table-responsive'tr>"
                    + "<'dt--bottom-section d-sm-flex justify-content-sm-between text-center'<'dt--pages-count  mb-sm-0 mb-3'i><'dt--pagination'p>>",
                "oLanguage": {
                    "oPaginate": {
                        "sPrevious": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg>',
                        "sNext": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>'
                    },
                    "sEmptyTable": "Chưa có dữ liệu",
                    "sInfo": "Đang hiển thị trang _PAGE_ của  _PAGES_",
                    "sSearch": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>',
                    "sSearchPlaceholder": "Tìm kiếm...",
                    "sZeroRecords": "Không có bản ghi nào trùng khớp",
                    "sLengthMenu": "Kết quả :  _MENU_",
                },
                "stripeClasses": [],
                "lengthMenu": [7, 10, 20, 50],
                "pageLength": 10,
                "ordering": false
            });
    </script>
}